# users
.vs
#
Debug
Release
x64
test
#
*/Debug
*/Release
*/x64
#
enc_temp_folder
#
*.bmp
*.png
*.jpg
*.txt
*.pts
*.user
*.aps
*.vcxproj.filters
#
*/GeneratedFiles
/openpiv-c--qt/fftw3
/water_flow.cpp
