# users
.vs
#
Debug
Release
x64
#
water_line/Debug
water_line/Release
water_line/x64
#
enc_temp_folder
#
*.bmp
*.png
*.jpg
*.txt
*.pts
*.user
*.aps
*.vcxproj.filters
*.vcxproj
#
/ImageControlPointSelect/GeneratedFiles
/openpiv-c--qt/GeneratedFiles
/openpiv-c--qt/fftw3
/water_flow.cpp
